<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Fallout Beyond</title>
  <link rel="stylesheet" href="../Styles/main.css">
  <link rel="stylesheet" href="../Styles/credits.css">
</head>
<body class="background-body">
  <div class="full-screen">
    <div class="two-parts-horizontal">
        <div class="mid-screen">
            <h1 class="font-style mid-screen xxxlarge-font">Créditos</h1>
            <p class="font-style mid-screen xxlarge-font">Direção: Pombo Rossette</p>
            <p class="font-style mid-screen xxlarge-font">Desenvolvimento: Pombo Rossette</p>
            <p class="font-style mid-screen xxlarge-font">Design: Pombo Rossette</p>
            <p class="font-style mid-screen xxlarge-font">Fan Sevice de Fallout</p>
        </div>
        <div class="mid-screen">
          <button class="font-style menu-button-style xlarge-font" id="backButton" >Voltar</button>
        </div>
    </div>
  </div>
</body>
<script src="../Business/credits.js"></script>
</html>