<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Fallout Beyond</title>
  <link rel="stylesheet" href="../Styles/main.css">
</head>
<body class="background-body">
  <div class="full-screen">
    <div class="two-parts-horizontal">
        <div class="div-left-screen">
            <h1 class="font-style mid-screen xxxlarge-font">Créditos</h1>
            <button class="font-style menu-button-style xlarge-font" id="backButton" >Voltar</button>
            
        </div>
        <div class="div-rigth-screen">
            <img src="../Images/vault-boy-PNG.png">
        </div>
    </div>
  </div>
</body>
<script src="../Business/credits.js"></script>
</html>