<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Fallout Beyond</title>
  <link rel="stylesheet" href="../Styles/main.css">
</head>
<body class="background-body">
  <div class="full-screen">
    <h1 class="font-style mid-screen xxxlarge-font">WELCOME TO FALLOUT BEYOND</h1>
    <div class="div-mid-screen">
      <button class="font-style button-style-default xlarge-font" id="play">Play</button>
      <button class="font-style button-style-default xlarge-font" >Options</button>
      <button class="font-style button-style-default xlarge-font" id="credits">Credits</button>
    </div>
  </div>
</body>
<script src="../Business/renderer.js"></script>
</html>