<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Fallout Beyond</title>
  <link rel="stylesheet" href="../Styles/main.css">
</head>
<body class="background-body">
  
  <div class="full-screen">
    <h1 class="font-style mid-screen xxxlarge-font">WELCOME TO FALLOUT BEYOND</h1>
    <div class="div-mid-screen">
      <button class="font-style menu-button-style xlarge-font" >Continuar</button>
      <button class="font-style menu-button-style xlarge-font" >Novo Jogo</button>
      <button class="font-style menu-button-style xlarge-font" >Opções</button>
      <button class="font-style menu-button-style xlarge-font" >Créditos</button>
    </div>
   

  </div>
  
  

</body>
<script src="../Business/renderer.js"></script>
</html>
