<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Fallout Beyond</title>
  <link rel="stylesheet" href="../Styles/main.css">
  <link rel="stylesheet" href="../Styles/newGame.css">
</head>
<body class="background-body">
  <div class="full-screen">
    <div class="mid-screen">
        <h1 class="font-style mid-screen xxxlarge-font">Novo Jogo</h1>
    </div>
    <div class="mid-screen">
        <div>
            
        </div>
    </div>
    <div class="mid-screen">
        <div>
            <button class="font-style menu-button-style xlarge-font" id="backButton" >Voltar</button>
            <button class="font-style menu-button-style xlarge-font" id="confirm" >Continuar</button>
        </div>
    </div>
  </div>
</body>
<script src="../Business/newGame.js"></script>
</html>