<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Fallout Beyond</title>
  <link rel="stylesheet" href="../Styles/main.css">
  <link rel="stylesheet" href="../Styles/newGame.css">
</head>
<body class="background-body">
  <div class="full-screen">
    <div class="mid-screen">
        <h1 class="font-style mid-screen xxxlarge-font">New Game</h1>
    </div>
    <div class="mid-screen">
        <div class="first-container">
            <input type="text" class="font-style input-style-create-character xlarge-font" id="nameCaracter"></input>
            <button class="font-style button-style-create-character xxlarge-font" id="createCharacter" >></button>
        </div>
    </div>
    <div class="mid-screen">
        <div>
            <button class="font-style button-style-default xlarge-font" id="backButton" >Voltar</button>
            <button class="font-style button-style-default xlarge-font" id="confirm" >Continuar</button>
        </div>
    </div>
  </div>
</body>
<script src="../Business/newGame.js"></script>
</html>