<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Fallout Beyond</title>
  <link rel="stylesheet" href="../Styles/main.css">
  <link rel="stylesheet" href="../Styles/play.css">
</head>
<body class="background-body">
  <div class="full-screen">
    <div class="mid-screen">
        <h1 class="font-style mid-screen xxxlarge-font">Choose the Character</h1>
    </div>
    <div class="mid-screen">
        <div class="first-container">
            <input type="text" class="font-style input-style-create-character xlarge-font" maxlength="15" id="nameCaracter"></input>
        </div>
    </div>
    <div class="mid-screen">
      <div>
        <table id="table" class="table-style-default font-style xlarge-font">
          <thead>
              <tr>
                <th colspan="3">0/5</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
      </div>
  </div>
    <div class="mid-screen">
        <div>
            <button class="font-style button-style-default xlarge-font" id="backButton" >Back</button>
            <button class="font-style button-style-default xlarge-font" id="confirm" >Continue</button>
        </div>
    </div>
  </div>
</body>
<script src="../Business/play.js"></script>
</html>