@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.sometype-mono {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
 }

 .background-body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Para cobrir toda a tela */
    background:
        linear-gradient(to bottom, 
          rgb(0, 0, 0) 40%,
          rgba(1, 65, 26, 0.979) 80%,
          rgb(0, 0, 0) 100%
        );
    background-size: 100% 15px; /* Largura total da tela e altura de 300 pixels */
    animation: stripes 20s linear infinite; /* Animar com duração de 10 segundos */
  }
  
  @keyframes stripes {
    0% {
      background-position: 0 0; /* Começa do topo */
    }
    100% {
      background-position: 0 -300px; /* Desce até 300 pixels abaixo do topo */
    }
  }

.font-style {
    color: #5db37f !important;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.xxxlarge-font{
  font-size: xxx-large;
}

.xlxarge-font{
  font-size: xx-large;
}

.xlarge-font{
  font-size: x-large;
}

.mid-screen {
  display: flex;
  justify-content: center;
}

.full-screen {
  border: solid 3px #5db37f;
  margin: 25px;
  height: 92vh;
  box-sizing: border-box; /* Garante que padding e border não aumentem a altura total */
  padding: 20px; /* Exemplo de padding interno */
}

.div-mid-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.div-rigth-screen {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 50px;
}
.div-left-screen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px;
}

.menu-button-style {
  background-color: transparent;
  border: solid 3px #5db37f;
  width: 200px;
  height: 55px;
  margin: 12px;
}

.two-parts-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

